---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import img from '../assets/imgs_of_book/sten_simons.jpg';
import Button from '../components/Button.astro'
---

<section id="author" class="mt-4 mb-8">
<h2 class="text-3xl font-semibold mb-2 pb-4">Forfatteren</h2>
<div class="md:grid grid-cols-2 gap-4">
<div>
    
  <Image src={img} alt="Photo"/>
</div>
<div>
<p class="mb-2">Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
</p>
<p class="mb-2">
Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>
</div>
</div>
</section>