---
import '../styles/tailwind.css';
const { href } = Astro.props;
---

<a href={href} class="bg-[#C68958] hover:opacity-70 text-[#1F2D21] font-semibold py-3 px-9 rounded-2xl transition-opacity duration-300 inline-block flex items-center gap-2"><slot />
</a>