---
import '../styles/tailwind.css';
const { href } = Astro.props;
---

<a href={href} class="bg-[#B7D6BD] hover:opacity-70 text-[#1F2D21] py-3 px-9 rounded-2xl transition-opacity duration-300 inline-block font-semibold cursor-pointer"><slot />
</a>