---
import '../styles/tailwind.css';
---

<section id="chapters" class="py-8">
<h2 class="text-3xl font-semibold mb-6">Bogens kapitler</h2>
<div class="md:grid grid-cols-2 gap-4">
<div>
<ul>
<li>
<div>
<p class="font-bold">Kapitel 1 - Intro til street foto</p>
<p class="py-2">Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.</p> 
</div>
</li>
<li>
<div>
<p class="font-bold">Kapitel 2 - Om at skyde street</p>
<p class="py-2">Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p> 
</div>
</li>
<li>
<div>
<p class="font-bold">Kapitel 3 - Om at finde det rette motiv</p>
<p class="py-2">Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p> 
</div>
</li>
<li>
<div>
<p class="font-bold">Kapitel 4 - Digital street foto</p>
<p class="py-2">De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto. </p> 
</div>
</li>
</ul>
</div>
<div>
<ul>
<li>
<div>
<p class="font-bold">Kapitel 5 - Analog street foto</p>
<p class="py-2">Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto.</p> 
</div>
</li>
<li>
<div>
<p class="font-bold">Kapitel 6 - Om at skyde sort/hvid</p>
<p class="py-2">Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering.</p> 
</div>
</li>
<li>
<div>
<p class="font-bold">Kapitel 7 - Kreative teknikker</p>
<p class="py-2"> Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p> 
</div>
</li>
<li>
<div>
<p class="font-bold">Kapitel 8 - Kom helt tæt på!</p>
<p class="py-2">Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p> 
</div>
</li>
</ul>
</div>

</div>

<div class="flex justify-center py-8" x-data>
        <button type="submit" class="bg-[#272635] hover:bg-[#585676] text-[#E8E9F3] px-8 py-2 rounded-md" x-on:click="alert('Download påbegyndt')">Download prøvekapitel</button>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/alpine.min.js" defer></script>
</section>