---
import '../styles/tailwind.css';
---

<section class="bg-[#6A9273]">


    
    <div class="max-w-5xl mx-auto pt-8 px-4 lg:grid grid-cols-2 gap-4">
 <div><h3 class="text-2xl">Hvad er digitalt skrald?</h3></div>
 <div><h3 class="text-2xl">Hvad er digitalt skrald?</h3></div>
    </div>

</section>

<style>
    section {
        
    }
</style>