---
import '../styles/tailwind.css';
---

<section id="data" class="py-8 font-medium">
<div class="md:grid grid-cols-2 gap-4">
<div>
    <ul class="list-disc pl-5">
<li>Titel: Københavnerbilleder - en guide til hipster foto</li>
<li>Forfatter: Sten Simons</li>
<li>Antal sider: 344</li>
</ul>
</div>
<div>
<ul class="list-disc pl-5">
<li>Forlag: Mellem Linjerne</li>
<li>ISBN: 987-6-987654-32-1</li>
<li>Pris: 399.-</li>
</ul>
</div>
</div>
</section>