---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import illustration from '../assets/illustrations/globe.webp';
import x from '../assets/illustrations/x.webp';
import Button from '../components/Button2.astro'
import 'animate.css';
---

<section id="hero" class="max-w-5xl mx-auto pt-8 px-4">
<div class="lg:grid grid-cols-2 gap-4">
<div>
  <Image src={illustration} alt="Photo" class="w-80 h-auto place-items-center"/>
</div>
<div>
<h1 class="text-6xl font-black mb-4 lg:mt-0 mt-4 pt-4 pb-4 text-[#B7D6BD]">Digital skraldedag</h1>
<p class="mb-2 text-2xl pb-2">Ryd op i dit digitale affald <br> 
den 15. marts 2024</p>
<div class="flex items-center space-x-6">
<p class="flex items-center mb-6 mt-6">Sæt <span class="ml-2 flex items-center"><Image src={x} alt="Photo" class="w-6 h-auto mr-1 place-items-center"/></span> i din kalender</p>
<div><Button href="#buy"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"/>
</svg>
Tilføj til kalender</Button></div>
</div>
</div>
</div>

</section>
