---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import Blobillustration from '../assets/illustrations/Blobillustration.webp';
import x from '../assets/illustrations/XX.svg';
import 'animate.css';
---

<section id="hero" class=" max-w-5xl mx-auto pt-8 px-4 mb-10">
<div class="lg:grid grid-cols-2 gap-12">
<div class="lg:flex lg:justify-center lg:items-center">
  <Image src={Blobillustration} alt="Illustration" class="w-96 h-auto place-items-center"/>
</div>
<div>
<h1 class="text-6xl font-black mb-4 lg:mt-0 mt-4 pt-4 pb-4 text-[#B7D6BD]">Digital Skraldedag</h1>
<h3 class="mb-2 text-2xl pb-2">Ryd op i dit digitale affald <br> 
den 15. marts 2025</h3>
<div class="flex items-center space-x-6">
<p class="flex items-center mb-6 mt-6">Sæt <span class="flex items-center animate__animated animate__pulse animation"><Image src={x} alt="Photo" class="w-6 sm:w-10 h-auto place-items-center pl-1"/></span> i din kalender</p>
<div x-data>
   <button type="submit" class="bg-[#C68958] no-underline hover:opacity-70 text-[#1F2D21] font-semibold py-3 px-9 rounded-2xl transition-opacity duration-300 inline-block flex items-center gap-2 flex justify-center" x-on:click="alert('Tilføjet til kalender')"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"/>
</svg>Tilføj til kalender</button>
</div>
</div>
</div>

<script>
import { inView } from "motion";

const pulse = document.querySelector(".animation");

inView(pulse, () => {

pulse.classList.add("animate__pulse", "animate__animated", "animate__delay-0.5s", "animate__infinite");

});
</script>

</section>

