---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import img1 from '../assets/imgs_of_book/kobenhavnerbilleder_oppefra.jpg';
import img2 from '../assets/imgs_of_book/kobenhavnerbilleder-sten-simons.jpg';
import img3 from '../assets/imgs_of_book/kobenhavnerbilleder_aaben_venstre.jpg';
---
<section>
<div class="grid gap-4 md:grid-cols-3 md:gap-4 sm:grid-cols-2 sm:gap-6">
<div>
  <Image src={img2} alt="Photo" class="hover:scale-105"/>
</div>
<div>
<Image src={img1} alt="Photo" class="hover:scale-105"/>
</div>
<div>
<Image src={img3} alt="Photo" class="hover:scale-105"/>
</div>
</div>
</section>