---
import { Image } from "astro:assets";
import logo from '../assets/illustrations/logo_hvid_crop.webp';
import Button from '../components/Button.astro'
---

<div x-data="{ showmenu: false }" class="px-8 pb-2 pt-2 static md:static w-full bg-[#1F2D21]" >
<div id="navbar" class="flex flex-row justify-between bg-[#1F2D21]">
<div id="logo" class="flex items-center py-2">
      <a href="#hero">
        <Image src={logo} alt="logo" class="w-10 h-auto" />
      </a>
    </div>
<nav id="desktopmenu" class="hidden md:block">
<ul class="flex flex-row gap-12 items-center font-medium text-[#FFFFFF]">
<li class="py-2"><a href="#data" >Sådan deltager du</a></li>
<li class="py-2"><a href="#chapters" >Ressourcer</a></li>
<li class="py-2"><a href="#author" ><Button>Registrer dit bidrag</Button></a></li>
</ul>
</nav>
<button id="burgermenu" class="md:hidden mr-4" x-on:click="showmenu = ! showmenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>
</button>
</div>
<nav id="mobilmenu" class="flex flex-col content-center pt-4 pr-4 font-medium" 
x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
<ul>
<li class="text-right py-2 border-y-2"><a href="#data" >Sådan deltager du</a></li>
<li class="text-right py-2 border-b-2"><a href="#chapters" >Ressourcer</a></li>
<li class="text-right py-2 border-b-2"><a href="#author" >Registrer dit bidrag</a></li>
</ul>
</nav>
</div>


