---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import illustration from '../assets/illustrations/globe.webp';
---

<section class="bg-[#1F2D21]">
    
    <div class="max-w-5xl mx-auto pt-8 px-4 pb-12">

<h2 class="text-4xl font-semibold pb-6 pt-8 text-[#B7D6BD] mb-2">Vidste du?</h2>

 <div class="md:grid grid-cols-2 gap-20">

    <div class="pt-4 flex gap-2">
    <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#DEB1B1" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg></div>

<p class="mb-8">Det kræver mere energi at udvinde Bitcoin end hele New Zealand forbruger på et år!</p>
</div>

<div class="pt-4 flex gap-2">
    <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#DEB1B1" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg></div>

<p class="mb-8">Det grænseløse dataforbrug i dag kræver 3 gange mere energi end alle verdens solpaneler kan producere!</p>
</div>

</div>

<div class="md:grid grid-cols-2 gap-20">

    <div class="pt-4 flex gap-2">
    <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#DEB1B1" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg></div>

<p class="mb-8">90 % af al data bliver aldrig tilgået 3 måneder efter, det er blevet gemt.</p>
</div>

<div class="pt-4 flex gap-2">
    <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#DEB1B1" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg></div>

<p class="mb-8">En e-mail udleder i gennemsnit 4g CO2 = det samme som kuldioxidaftrykket fra en lyspære tændt i 6 minutter!</p>
</div>

</div>


<div class="md:grid grid-cols-2 gap-20">

    <div class="pt-4 flex gap-2">
        <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#DEB1B1" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg></div>

<p class="mb-8">99 % af al data er blevet skabt inden for de sidste 10 år.</p>
</div>
<div class="pt-4 flex gap-2">
    <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#DEB1B1" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg>
</div>
<p class="mb-8">91 % af webstederne får ikke trafik fra Google.</p>
</div>

</div>
   
   
</div>

</section>
