---
import '../styles/tailwind.css';
---

<section class="bg-[#6A9273] text-[#1F2D21]">
    
    <div class="max-w-5xl mx-auto pt-8 px-4 pb-12">
        <h2 class="text-4xl font-semibold pb-8 pt-8 mb-6">Tal fra Digital Skraldedag</h2>
        <div class="sm:grid grid-cols-3 gap-8 mb-8 text-center">
        <div class="mb-6">
            <h3 class="text-2xl font-bold">1,184,747</h3>
            <p class="text-[#1F2D21]">deltagere</p>
        </div>
        <div class="mb-6">
            <h3 class="text-2xl font-bold">14.5 M GB</h3>
            <p class="text-[#1F2D21]">slettet data</p>
        </div>
        <div class="mb-6">
            <h3 class="text-2xl font-bold">3,625 ton</h3>
            <p class="text-[#1F2D21]">af årlig CO2-udledning forhindret</p>
        </div>
    </div>
 <div class="pt-4 mb-6">
<p class="text-[#1F2D21]">Siden 2020 har 175 forskellige lande og territorier deltaget i Digital Cleanup Day. Næsten 1,2 millioner mennesker har slettet over 14,5 millioner GB data, hvilket forhindrer en årlig produktion af cirka 3.625 tons CO2.</p>
 </div>

</section>