---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import illustration from '../assets/illustrations/globe.webp';
---

<section class="">
    
    <div class="max-w-5xl mx-auto pt-8 px-4 pb-12">
        <h2 class="text-4xl font-semibold pb-6 pt-8 text-[#B7D6BD] mb-2">Problemet med digitalt skrald</h2>
 <div class="pt-4">

 </div>

</section>
