---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import illustration from '../assets/illustrations/globe.webp';
---

<section class="bg-[#6A9273] text-[#1F2D21]">
    
    <div class="max-w-5xl mx-auto pt-8 px-4 pb-12">
        <h2 class="text-4xl font-semibold pb-6 pt-8 mb-2">Tal fra Digital skraldedag</h2>
        <div class="sm:grid grid-cols-3 gap-8 mb-8 text-center">
        <div>
            <h3>1,184,747</h3>
            <p>deltagere</p>
        </div>
        <div>
            <h3>14.5 M GB</h3>
            <p>slettet data</p>
        </div>
        <div>
            <h3>3,625 ton</h3>
            <p>af årlig CO2-udledning forhindret</p>
        </div>
    </div>
 <div class="pt-4">
<p>Siden 2020 har 175 forskellige lande og territorier deltaget i Digital Cleanup Day. Næsten 1,2 millioner mennesker har slettet over 14,5 millioner GB data, hvilket forhindrer en årlig produktion af cirka 3.625 tons CO2.</p>
 </div>

</section>