---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import illustration from '../assets/illustrations/globe.webp';
---

<section class="">
    
    <div class="max-w-5xl mx-auto pt-8 px-4 pb-12">
        <h2 class="text-4xl font-semibold pb-6 pt-8 text-[#B7D6BD] mb-2">Registrer dit bidrag</h2>
 <div class="pt-4 sm:grid grid-cols-2 gap-8 mb-8">
<div>
    <p>Tilmeld dig</p>
</div>
<div class="bg-[#B7D6BD] text-[#1F2D21]"><p>Spred budskabet!</p><p>Vær med til at sprede budskabet og del med en ven eller på sociale medier.</p></div>
 </div>

</section>
