---
import '../styles/tailwind.css';
import { Image } from "astro:assets";
import illustration from '../assets/illustrations/globe.webp';
---

<section class="bg-[#1F2D21]">
    
    <div class="max-w-5xl mx-auto pt-8 px-4 text-[#1F2D21] pb-12">
<h2 class="text-4xl font-semibold pb-6 pt-8 text-[#B7D6BD] mb-2">Vidste du?</h2>
 <div class="pt-4">

    </div>

</section>
